/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    position: relative;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

code {
    font: 0.85em Monaco, Courier, Monospace;
}

a.nav-link:link {color: white;}      /* unvisited link */
a.nav-link:visited {color: white;}   /* visited link */
a.nav-link:hover {color: white;}     /* mouse over link */
a.nav-link:active {color: black;}    /* selected link */

a.highlighted, a.highlighted:link {
  color: black;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( white 50%, rgb(225, 102, 61) 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.highlighted:hover {
  background-position-y: 100%;
  color: white;

}

.dumbarton-home{
    width:50%;
    max-width:300px;
    max-height:150px;
    padding-right: 10px;
    padding-top: 10px;
}

.dumbarton-icon{
  padding-right: 10px;
  padding-left: 2px;
  padding-top: 2px;
}


.dumbarton-spacer {
  padding-bottom: 50px;
  padding-top: 50px;
}


.dumbarton-spacer-sm {
  padding-bottom: 5px;
  padding-top: 5px;
}
.publications {
  text-align: left;
}

.page-title, .page-title-small{
  font-size: 36px;
  font-weight: 700;
}
/* Layout */
* {
  @include box-sizing(border-box);
}

/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  
  &:before {
    background-color: $color-1;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
}

.timeline-event {
  position: relative;
  
  &:hover {
  
    .timeline-event-icon {
      @include rotate (-45deg);
      background-color: $color-3;
    }
    
    .timeline-event-thumbnail {
      @include box-shadow(inset 40em 0 0 0 $color-3);
    }
  }
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  
  h3 {
    font-size: 1.75em;
  }
  
  h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  
  strong {
    font-weight: 700;
  }
  
  p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
  }
}

.timeline-event-icon {
  @include transition(transform 0.2s ease-in);
  @include rotate (45deg);
  
  background-color: $color-1;
  outline: 10px solid $color-2;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  @include transition(box-shadow 0.5s ease-in 0.1s);
  color: $color-2;
  font-size: 0.75em;
  
  background-color: $color-1;
  @include box-shadow(inset 0 0 0 0em #ef795a);
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}

.bd-example::after {
  display: block;
  clear: both;
  content: "";
}

#sticky-footer {
  flex-shrink: none;
  left: 0;
  bottom: 0;
  background-color: #f5f5f5;
}

#page-content {
  flex: 1 0 auto;
}


.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--hackernews {
  background-color: #FF6600;
  border-color: #FF6600;
}

.resp-sharing-button--hackernews:hover
.resp-sharing-button--hackernews:active {
  background-color: #FB6200;
  border-color: #FB6200;
}


.highlight .hll { background-color: #333333 }
.highlight  { background: #212121; color: #ffffff }
.highlight .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.highlight .err { color: #ffffff } /* Error */
.highlight .esc { color: #ffffff } /* Escape */
.highlight .g { color: #ffffff } /* Generic */
.highlight .k { color: #fb660a; font-weight: bold } /* Keyword */
.highlight .l { color: #ffffff } /* Literal */
.highlight .n { color: #ffffff } /* Name */
.highlight .o { color: #ffffff } /* Operator */
.highlight .x { color: #ffffff } /* Other */
.highlight .p { color: #ffffff } /* Punctuation */
.highlight .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.highlight .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.highlight .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.highlight .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.highlight .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.highlight .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.highlight .gd { color: #ffffff } /* Generic.Deleted */
.highlight .ge { color: #ffffff } /* Generic.Emph */
.highlight .gr { color: #ffffff } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #ffffff } /* Generic.Inserted */
.highlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight .gp { color: #ffffff } /* Generic.Prompt */
.highlight .gs { color: #ffffff } /* Generic.Strong */
.highlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #ffffff } /* Generic.Traceback */
.highlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #fb660a } /* Keyword.Pseudo */
.highlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #ffffff } /* Literal.Date */
.highlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.highlight .s { color: #0086d2 } /* Literal.String */
.highlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.highlight .nb { color: #ffffff } /* Name.Builtin */
.highlight .nc { color: #ffffff } /* Name.Class */
.highlight .no { color: #0086d2 } /* Name.Constant */
.highlight .nd { color: #ffffff } /* Name.Decorator */
.highlight .ni { color: #ffffff } /* Name.Entity */
.highlight .ne { color: #ffffff } /* Name.Exception */
.highlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.highlight .nl { color: #ffffff } /* Name.Label */
.highlight .nn { color: #ffffff } /* Name.Namespace */
.highlight .nx { color: #ffffff } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #fb660a } /* Name.Variable */
.highlight .ow { color: #ffffff } /* Operator.Word */
.highlight .w { color: #888888 } /* Text.Whitespace */
.highlight .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { color: #0086d2 } /* Literal.String.Affix */
.highlight .sb { color: #0086d2 } /* Literal.String.Backtick */
.highlight .sc { color: #0086d2 } /* Literal.String.Char */
.highlight .dl { color: #0086d2 } /* Literal.String.Delimiter */
.highlight .sd { color: #0086d2 } /* Literal.String.Doc */
.highlight .s2 { color: #0086d2 } /* Literal.String.Double */
.highlight .se { color: #0086d2 } /* Literal.String.Escape */
.highlight .sh { color: #0086d2 } /* Literal.String.Heredoc */
.highlight .si { color: #0086d2 } /* Literal.String.Interpol */
.highlight .sx { color: #0086d2 } /* Literal.String.Other */
.highlight .sr { color: #0086d2 } /* Literal.String.Regex */
.highlight .s1 { color: #0086d2 } /* Literal.String.Single */
.highlight .ss { color: #0086d2 } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #fb660a } /* Name.Variable.Class */
.highlight .vg { color: #fb660a } /* Name.Variable.Global */
.highlight .vi { color: #fb660a } /* Name.Variable.Instance */
.highlight .vm { color: #fb660a } /* Name.Variable.Magic */
.highlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */


S - card-header Bootstrap 4CSS
 .heading-footer 
{ 
background-image: url(bg.jpg); 
background-size: cover; 
height: 175px; 
-webkit-box-shadow: none; 
box-shadow: none; 
border: 0px; 
border-radius: 0px; 
}   

.panel-profile-img 
{ 
max-width: 250px; 
margin-top: -160px; 
margin-bottom: 5px; 
border: 3px solid #fff; 
border-radius: 0%; 
}

.heading-footer 
{ 
background-image: url(/assets/img/publications.png); 
background-size: cover; 
height: 175px; 
-webkit-box-shadow: none; 
box-shadow: none; 
border: 0px; 
border-radius: 0px; 
}   
 
.panel-profile-img 
{ 
max-width: 250px; 
margin-top: -160px; 
margin-bottom: 5px; 
border: 3px solid #fff; 
border-radius: 0%; 
}


.sidenav {
  transform: rotateZ(90deg);
  transform-origin: bottom left;
  position: absolute;
  left: 0;
  margin-left: 0px;
  margin-right: 5px;
  top: -3rem;
  height: 2rem;
  width: 12rem;
  z-index: 0;
}

.sidewid {
  position: fixed;
  right: 0;
  margin-right: 0px;
  margin-top: 500px;
  top: 0rem;
  height: 10rem;
  width: 20 rem;
  z-index: 10;
}


.glowing-border {
  outline: none;
  border-color: #495464;
  box-shadow: 0 0 10px #495464;
}

.glowing-border:focus { 
  outline: none;
  border-color: #495464;
  box-shadow: 0 0 10px #495464;
}

.glowing-border:hover { 
  outline: none;
  border-color: #495464;
  box-shadow: 0 0 20px #495464;
}


.blogcard{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.blogcard:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.blogcard h3{
font-weight: 600;
}

.blogcard img{
padding: 15px 0 15px 0;
max-height: 400px;
max-width: 100%;
}

.card-1{
background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
 background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
 background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}


a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */



/* regular - font-weight: 400 */
@font-face {
  font-family: 'Proxima';
  src: url('https://static3.avast.com/10001188/web/o/f/400/proximanova-regular-webfont.woff2') format('woff2'), 
       url('https://static3.avast.com/10001188/web/o/f/400/proximanova-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* bold - font-weight: 700 */
@font-face {
  font-family: 'Proxima';
  src: url('https://static3.avast.com/10001188/web/o/f/700/proximanova-bold-webfont.woff2') format('woff2'), 
       url('https://static3.avast.com/10001188/web/o/f/700/proximanova-bold-webfont.woff') format('woff'); 
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

$font-family: Proxima, Helvetica, Arial, sans-serif;

/* Badge */

.badge {
  font-family: Proxima;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.badge-primary {
  background-color: rgba(78, 34, 208, 0.1);
  color: #4e22d0;
}

.badge-secondary {
  background-color: rgba(255, 120, 0, 0.1);
  color: #ff7800;
}

/* Size modifications */
.badge-m {
  font-size: 13px;
  padding: 8px 16px;
}

.badge-s {
  font-size: 11px;
  padding: 5px 12px;
}

.badge-xs {
  font-size: 11px;
  padding: 3px 8px;
}

/* Tag */

.badge-pill {
  background-color: #e9e8f3;
  color: rgba(38, 28, 106, 0.7);
  padding: 10px 16px;
  &:hover {
  background-color: #514988 !important;
  color: #fff;
  }
  &:focus {
  background-color: #514988 !important;
  color: #fff;
  }
}

/* Layout */

.wrap {
  display: flex;
  font-family: Proxima;
  margin: 5% 0 0 15%;
}

/*Button*/
.buttons {
  margin: 1em;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.fa-caret-down:before{
  color:white;
}
.entry-title{
  line-height: 1.5;
  background-image: linear-gradient( white 50%, rgb(225, 102, 61) 50%);
  background-size: auto 175%;
}
a[data-fancybox] img {
  cursor: zoom-in;
}

.thumbnails-1{
  width: 300px;
}

.thumbnails-2{
  width: 200px;
}

.thumbnails-3{
  height: 300px;
}

.rounded-pic{
  border-radius: 1rem;
  padding: 0.5rem;
}

.gallery-container{
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    border: solid 2px black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.gallery-container:hover {
  border-color: coral;
}

.post-title{
  font-size: 36px;
  font-weight: 700;
}

.clustrmaps{
  padding: 3rem;
}
/* Profile*/
.portrait-title{
  text-align: center;
  width: 100%
}
.portrait-title h2 {
  font-size: 1.75em;
  font-weight: 350;
  color: #000;
  margin: 20px 0 10px
}

.portrait-title h3 {
  font-size: 1.1rem;
  font-weight: 350;
  color: rgba(0,0,0,.54);
}

.summary{
  line-height: 2rem;
  font-size: 1.2rem;

}
/* Network Icons*/
.network-icon{
  margin-top: 15px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}
.network-icon i {
  margin-left: 5px;
  margin-right: 5px;
}

/*Project Filter*/
.project-toolbar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

button{
  font-size: 5vmin;
  padding: .5em 1em;
  background: #fff;
  color: #4A5568;
  border: 0px solid #79bd93;
  transition: background .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease;
  box-shadow: 0 0 0 #BEE3F8;
  transform: translateY(0);
}
.category-btn.active {
  background-color: #149f98;
  color: #fff;
}

.category-btn.active i{
  color: #d7feec;
  transform: rotate(-10deg);
}

button i{
  color: #7088a7;
  margin-right: .3em;
  transition: all .2s ease-out;
}
.multi-button:hover button{
  color: #415f88;
}

.multi-button:hover button:hover{
  background: #149f98;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0.8em 0 rgba(123, 230, 182, 0.623);
  transform: translateY(-.2em);
}
.multi-button:hover button i{
  color: #CBD5E0;
}
.multi-button:hover button:hover i{
  color: #d7feec;
  transform: rotate(-10deg);
}

/*Playground Welcome*/

:root {
  --v1: #be91c6;
  --v2: #8a65cc;
  --v3: #5e30d9;
  --transparentv3: #5e30d9 0;
  --v4: #3b1895;
  --s1: #fea798;
  --s2: #ff846e;
  --cloud: #fea798;
}
.landscape:after, .landscape:before, .landscape *, .landscape *:after, .landscape *:before {
  position: absolute;
}
.front {
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}
.landscape {
  height: 80vh;
  background-image: linear-gradient(var(--v1), var(--s1), var(--v1));
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.mountain {
  border-radius: 180% 80% 0% 0%/60vmin 60vmin 0% 0%;
  width: 40vmin;
  height: 30vmin;
  bottom: 50%;
  left: -10vmin;
  background: var(--s1);
  background-image: linear-gradient(var(--v1), var(--v2) 30%, var(--v3));
  box-shadow: inset -10px 0 10px -10px var(--s1);
}
.mountain:before {
  content: "";
  bottom: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom center;
  transform: scaleX(1) scaleY(-0.6);
  filter: blur(3px);
}
.mountain-2 {
  left: 5vmin;
  height: 15vmin;
  width: 40vmin;
  box-shadow: inset -15px 0 10px -14px var(--s1);
  border-radius: 120% 50% 0% 0%/25vmin 25vmin 0% 0%;
  background-image: linear-gradient(var(--v3), var(--v4));
}
.mountain-3 {
  border-radius: 80% 0% 0 0/100% 100% 0 0;
  right: -85vmin;
  width: 100vmin;
  left: auto;
  height: 12vmin;
  color: var(--v3);
  background-image: linear-gradient(var(--s1), var(--v4));
  box-shadow: inset 15px 0 10px -10px var(--s1);
}
.mountain-3:after {
  content: "";
  border-radius: 60% 0 0 0/100% 0 0 0;
  background: inherit;
  width: 100%;
  height: 0;
  bottom: 0;
  right: 20%;
}
.lotus {
  width: 10vmin;
  height: 5vmin;
  background: conic-gradient(var(--v3) 0deg 40deg, var(--transparentv3) 50deg 70deg, var(--v3) 80deg);
  border-radius: 50%;
}
.lotus-1 {
  bottom: 10vmin;
  right: 5vmin;
  width: 20vmin;
}
.lotus-2 {
  bottom: 20vmin;
  right: 15vmin;
  height: 3vmin;
  transform: skew(-10deg);
  opacity: 0.5;
  mix-blend-mode: multiply;
}
.lotus-3 {
  bottom: 10vmin;
  right: 35vmin;
  transform: rotate(180deg) skew(-20deg);
  opacity: 0.8;
  width: 15vmin;
}
.cloud {
  width: 80vmin;
  height: 6vmin;
  background: currentcolor;
  color: var(--cloud);
  top: 24vmin;
  left: 20vmin;
  border-radius: 50%;
  box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor, -25vmin 0 0 -0.6vmin currentcolor;
  opacity: 0.3;
  transform: translate3d(-150vmin, 0, 0);
  animation: clouds 120s infinite;
  animation-delay: -10s;
}
@keyframes clouds {
  50% {
    transform: translate3d(0, 0, 0);
 }
  100% {
    transform: translate3d(150vmin, 0, 0);
 }
}
.cloud-1 {
  left: 60vmin;
  top: 15vmin;
  opacity: 0.2;
  filter: blur(1px);
  animation-delay: 0;
  animation-duration: 100s;
}
.water {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#fea798 55, var(--v2));
  overflow: hidden;
  box-shadow: inset 0 1px 4px -3px white;
}
.stone {
  bottom: -5vh;
  left: 0;
  height: 20vmin;
  width: 40vmin;
  background: var(--v4);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0% 200% 0 0/0% 200%;
}
.stone:after {
  content: "";
  background: var(--v3);
  width: 100%;
  height: 100%;
  right: -15%;
  border-radius: inherit;
  z-index: -1;
  transform: scaleX(1.3) skew(10deg);
  box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.4);
}
.grass {
  height: 40vmin;
  width: 10vmin;
  border-radius: 0 60% 0 0Array/0Array 100% 0 0;
  bottom: 0;
  border-right: 5px solid var(--v4);
  box-shadow: 1px 0 0 var(--s1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--s2)) drop-shadow(-4.5vmin 10vmin 0 var(--v3));
}
.grass-1 {
  left: 14vmin;
  bottom: -2vmin;
  transform: scaleX(-1);
  box-shadow: 2px 0 0 var(--v4);
  border-color: var(--v3);
  filter: drop-shadow(-1vmin 5vmin 0 var(--v3)) drop-shadow(-80vmin 5vmin 0 var(--v4));
}
.grass-2 {
  right: 0;
  left: auto;
  height: 20vmin;
  bottom: -2vmin;
  transform: scaleX(-1);
}
.sun {
  background: white;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  left: calc(60% - 10vmin);
  top: 100%;
  transform: translate3d(0, 0, 0);
  animation: rise 20s infinite;
  box-shadow: 0 0 10px white;
}
.reed {
  height: 40vmin;
  width: 0.5vmin;
  bottom: 0;
  left: 10vmin;
  color: var(--v4);
  background: currentColor;
  transform-origin: bottom center;
  transform: rotate(4deg);
  box-shadow: inset -1px 0 0 var(--s2), -6vmin 3vmin 0 0, 80vmin 0 0 0;
  animation: verticalise 20s infinite;
}
.reed-1 {
  color: var(--s2);
  left: 15vmin;
  height: 50vmin;
  bottom: -5vmin;
  transform: rotate(-2deg);
  animation: verticalise-1 20s infinite;
  box-shadow: inset -1px 0 0 var(--s1), 6vmin 13vmin 0 0 var(--s1), 80vmin 10vmin 0 0 var(--v3);
}
.reed:after {
  content: "";
  width: 1.5vmin;
  height: 10vmin;
  background: currentcolor;
  border-radius: 0.75vmin;
  top: 0;
  left: -0.5vmin;
  box-shadow: inherit;
}
@keyframes verticalise {
  0%, 10% {
    transform: rotate(4deg);
 }
  30%, 70% {
    transform: rotate(0);
 }
}
@keyframes verticalise-1 {
  0%, 10% {
    transform: rotate(-2deg);
 }
  45%, 70% {
    transform: rotate(0) translateY(-6vmin);
 }
}
@keyframes rise {
  100% {
    transform: translate3d(0, -100vh, 20vmin);
 }
}
@keyframes rise-reflection {
  30% {
    opacity: 0;
    transform: translate3d(0, 5vmin, 0);
 }
  100% {
    opacity: 0;
    transform: translate3d(0, 80vmin, 0);
 }
}
.sun-container {
  overflow: hidden;
  width: 100%;
  height: 50%;
}
.sun-container-1:after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(circle at 60% 100%, var(--s2), transparent);
  animation: fade 20s infinite;
  mix-blend-mode: color-burn;
}
@keyframes fade {
  10% {
    opacity: 1;
 }
  30%, 70% {
    opacity: 0;
 }
}
.sun-container-reflection {
  top: 50%;
  background: radial-gradient(circle at 60% 0%, var(--s2), transparent);
}
.sun-container-reflection .sun {
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  box-shadow: none;
  filter: blur(5px);
  opacity: 1;
  top: 0;
  transform: translate3d(0, -20vmin, 0);
  animation-name: rise-reflection;
}
.light {
  height: 0.5vmin;
  width: 20vmin;
  background: white;
  left: 20%;
  right: 0;
  margin: auto;
  top: calc(50% + 1vmin);
  animation: light 20s infinite;
  opacity: 0;
  transform: scaleX(0.1) translate3d(0%, 0, 0);
  border-radius: 0.25vh;
  filter: blur(1px);
}
@-webkit-keyframes light {
  5% {
    opacity: 1;
    transform: scaleX(1);
 }
  10% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(5%, 0, 0);
 }
  15% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(-5%, 0, 0);
 }
  20% {
    opacity: 0;
    transform: scaleX(0.1) translate3d(0, 0, 0);
 }
}
@keyframes light {
  5% {
    opacity: 1;
    transform: scaleX(1);
 }
  10% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(5%, 0, 0);
 }
  15% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(-5%, 0, 0);
 }
  20% {
    opacity: 0;
    transform: scaleX(0.1) translate3d(0, 0, 0);
 }
}
.light-1 {
  top: calc(50% + 2vmin);
  animation-delay: 0.5s;
}
.light-2 {
  top: calc(50% + 3vmin);
  width: 18vmin;
  animation-delay: 1s;
}
.light-3 {
  top: calc(50% + 4vmin);
  width: 18vmin;
  animation-delay: 1.5s;
}
.light-4 {
  top: calc(50% + 5vmin);
  width: 16vmin;
  animation-delay: 2s;
}
.light-5 {
  top: calc(50% + 8vmin);
  width: 14vmin;
  animation-delay: 2.5s;
}
.light-6 {
  top: calc(50% + 9vmin);
  width: 10vmin;
  animation-delay: 3s;
}
.light-7 {
  top: calc(50% + 7vmin);
  width: 12vmin;
  animation-delay: 3.5s;
}
.splash {
  width: 8vmin;
  height: 3vmin;
  border: 2px solid var(--s1);
  box-shadow: 0 0 2px var(--s1);
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  animation: splash 9s infinite;
  transform: scale(0);
}
.splash-stone {
  bottom: 15vh;
  left: -3vmin;
  height: 10vmin;
  width: 30vmin;
}
.splash-4 {
  bottom: 5vmin;
  left: auto;
  bottom: 15vmin;
  right: -2vmin;
}
@keyframes splash {
  50%, 100% {
    transform: scale(1);
    opacity: 0;
 }
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}


.typewriter-container {
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color:  #ff846e;
  font-family: "Lucida Console";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/*3D button*/

.threed-button-container {
  display: flex;
  flex-direction: column;
  transform: rotatex(10deg);
  animation: rotateAngle 6s linear infinite;
}
.threed-button {
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  background: rgba(255, 110, 84, 0.366);
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
}
.threed-button:before, .threed-button:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}
.threed-button span {
  mix-blend-mode: none;
  display: block;
}
.threed-button:after {
  background-color: #5d00ff;
}
.threed-button:before {
  background-color: #ff1731;
}
.threed-button:hover {
  background-color: #fff65b;
  transition: background 0.3s 0.1s;
}
.threed-button:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
}
.threed-button:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
}
@keyframes rotateAngle {
  0% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
 }
  25% {
    transform: rotateY(20deg) rotateX(10deg);
 }
  50% {
    transform: rotateY(0deg) rotateX(10deg);
    animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
 }
  75% {
    transform: rotateY(-20deg) rotateX(10deg);
 }
  100% {
    transform: rotateY(0deg) rotateX(10deg);
 }
}
@keyframes translateWobble {
  0% {
    opacity: 0;
    transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
 }
  16% {
    transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
 }
  28% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
 }
  44% {
    transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
 }
  59% {
    transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
 }
  73% {
    transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
 }
  88% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
 }
  100% {
    opacity: 1;
    transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
 }
}

/*Mac Button*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
 * {
	 box-sizing: border-box;
	 -webkit-tap-highlight-color: transparent;
}

 .mac-button-container {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 font-family: "Roboto", sans-serif;
	 font-size: 14px;
	 color: #666;
}
 .mac-button {
	 position: relative;
	 padding: 0;
	 width: 200px;
	 height: 200px;
	 border: 4px solid #888;
	 outline: none;
	 background-color: #f4f5f6;
	 border-radius: 40px;
	 box-shadow: -6px -20px 35px #fff, -6px -10px 15px #fff, -20px 0px 30px #fff, 6px 20px 25px rgba(0, 0, 0, 0.2);
	 transition: 0.13s ease-in-out;
	 cursor: pointer;
}
 .mac-button:active {
	 box-shadow: none;
}
 .mac-button:active .button__content {
	 box-shadow: none;
}
 .mac-button:active .button__content .button__text, .mac-button:active .button__content .button__icon {
	 transform: translate3d(0px, 0px, 0px);
}
 .button__content {
	 position: relative;
	 display: grid;
	 padding: 20px;
	 width: 100%;
	 height: 100%;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
	 grid-template-rows: 1fr 1fr;
	 box-shadow: inset 0px -8px 0px #ddd, 0px -8px 0px #f4f5f6;
	 border-radius: 40px;
	 transition: 0.13s ease-in-out;
	 z-index: 1;
}
 .button__icon {
	 position: relative;
	 display: flex;
	 transform: translate3d(0px, -4px, 0px);
	 grid-column: 4;
	 align-self: start;
	 justify-self: end;
	 width: 32px;
	 height: 32px;
	 transition: 0.13s ease-in-out;
}
 .button__icon svg {
	 width: 32px;
	 height: 32px;
	 fill: #aaa;
}
 .button__text {
	 position: relative;
	 transform: translate3d(0px, -4px, 0px);
	 margin: 0;
	 align-self: end;
	 grid-column: 0.2;
	 grid-row: 2;
	 text-align: center;
	 font-size: 26px;
	 background-color: #888;
	 color: transparent;
	 text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
	 -webkit-background-clip: text;
	 -moz-background-clip: text;
	 background-clip: text;
	 transition: 0.13s ease-in-out;
}
 .credits {
	 margin-top: 24px;
}
 .credits__reference {
	 display: inline-block;
	 border-bottom: 1px solid transparent;
	 color: #09f;
	 text-decoration: none;
	 transition: ease-in 0.13s;
}
 .credits__reference:hover {
	 border-bottom-color: #09f;
}

/*Game*/
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.image-container img {
  max-width: 50%;
  opacity: 0;
}

#message-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

@keyframes message-container-animation {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  30% {
    transform: translate(-50%, -20px);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -20px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
}

/*Display*/
#playground {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.row{
  margin-bottom:2rem;
}
.posts-text{
  font-family: "Playfair Display",serif;
  line-height: 2;
  font-size: 2rem;
}

@media (max-width:500px){
  .page-title{
    font-size: 32px;
  }
  .page-title-small{
    font-size: 24px;
    font-weight: bold;
  }
  .blogcard-small-screen{
    padding: 4px 8px 8px 5px;
  }
  .description-list{
    padding-left: 18px;
  }
  .post-title{
    font-size: 23px;
    font-weight: 700;
  }
  .clustrmaps{
    padding: 3rem 0rem 0rem 0rem;
  }
  #download-cv{
    justify-content: center;
  }
  .typewriter h1{
    font-size: 1rem;
  }
  .typewriter-container {
    padding-bottom: 1em;
  }
  .landscape{
    height: 40vh;
  }
  .image-container img{
    max-width: 100%;
  }
}