---
layout: playground
permalink: /playground/blog.html
title: My Playground
description: 
header-img:  
last-updated: 2020-10-30 5:55 PM
---
<body>

    <nav class="navbar navbar-expand-lg mb-4">
        <a class="navbar-brand" href="/playground/blog.html"><h4 class="blog-logo" style="font-weight:200; color:#ffffff;">Marco's Playground</h4></a>
        <button class="navbar-toggler text-{{ theme.button-color }}" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="{{ site.nav-dIcon }}"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="blog-nav-ul navbar-nav mr-auto">
            <li class="nav-item nav-item-blog nav-item-blog-current">
                <a href="/playground/blog.html" class="nav-link blog-nav">Home</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/videos.html" class="nav-link blog-nav">Videos</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/articles.html" class="nav-link blog-nav">Articles</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/photos.html" class="nav-link blog-nav">Photos</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/designs.html" class="nav-link blog-nav">Designs</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/music.html" class="nav-link blog-nav">Music</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/about.html" class="nav-link blog-nav">About</a>
            </li>
            <li class="nav-item nav-item-blog">
                <a href="/playground/blog/contact.html" class="nav-link blog-nav">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <section class="hero-area" style="position:relative;">
        <div class="head-image-container"></div>
            <h1 class="head-text flow">WELCOME TO MY PLAYGROUND!</h1>             
    </section>

    <div class="post-list">
        <div class="blogcard row">
            <div class="col-md-4">
                <h1 class="posts-title">澳洲Vlog：<br>旅途记录</h1><br>
                <h5 class="posts-subtitle">墨尔本/悉尼/布里斯班/阿德莱德</h5>
                <a class="posts-title-link highlighted" style="float:right;" 
                    href="https://www.bilibili.com/video/BV1Jr4y1L7ke/?share_source=copy_web&vd_source=e133a865f41028b9a706a1890a2a76e0" target="_blank">
                    去Bilibili观看 >></a>
            </div>
            <div class="col-md-8">
                <div style="padding: 0.5rem 0 0.5rem 0;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.bilibili.com/player.html?aid=771282324&bvid=BV1Jr4y1L7ke&cid=783074917&page=1&as_wide=1&high_quality=1&autoplay=no" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="blogcard row">
            <div class="col-md-8">
                <div style="padding: 0.5rem 0 0.5rem 0;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.bilibili.com/player.html?aid=97465493&bvid=BV1w7411d73M&cid=166388940&page=1&as_wide=1&high_quality=1&autoplay=no" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 class="posts-title">国内首个内置虞书欣语音包的人工智能</h1><br>
                <h5 class="posts-subtitle">70万播放量真不是刷的</h5>
                <a class="posts-title-link highlighted" style="float:right;" 
                href="https://www.bilibili.com/video/BV1w7411d73M/?share_source=copy_web&vd_source=e133a865f41028b9a706a1890a2a76e0" target="_blank">
                去Bilibili观看 >></a>
            </div>
        </div>

        <div class="blogcard row" style="min-height:380px">
            <div class="col-md-4">
                <h1 class="posts-title">CU非典型爱情故事（一）</h1>
                <a class="posts-title-link highlighted" style="float:right;" href="https://mp.weixin.qq.com/s?__biz=Mzg5ODQxOTk2NQ==&mid=2247483694&idx=1&sn=0a8bc816ed988b341cf324d8a3275cdc&chksm=c0639cbcf71415aaefbd428f554388000c737459c1972c6148eb50687e32d6b4a0cc59caba4c#rd" target="_blank">阅读全文 >></a>
            </div>
            <div class="col-md-8">
                <p class="posts-discription">
                    她轻轻捧起这串手链，小心翼翼地将它戴在女生的手腕上，像是在戴上一枚价值连城的钻戒。<br>
                </p>
            </div>
        </div>

        <div class="blogcard row" style="min-height:380px">
            <div class="col-md-8">
                <p class="posts-discription">
                    “这首诗借鉴了余秀华的《穿过大半个中国去睡你》的结构和语言风格，将主题聚焦于香港中文大学学生们在每天早上穿越繁忙校园去上课的经历，每一个细节都表现了中大学生们在上课路上所面对的困难与挑战。(ChatGPT,2023)”
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="posts-title">让ChatGPT写了首《穿过大半个中大去上你》</h1>
                <a class="posts-title-link highlighted" style="float:right;" href="https://mp.weixin.qq.com/s?__biz=Mzg5ODQxOTk2NQ==&mid=2247483738&idx=1&sn=5e9c00a38ceb3069197c2525ec449104&chksm=c0639cc8f71415def056a5274ca76d0803b03fa9c564517fd652c05990f5d1af733e8624e8f8#rd" target="_blank">阅读全文 >></a>
            </div>
        </div>
        <div class="blogcard row">
            <div class="col-md-4">
                <h1 class="posts-title">青春有你2/催泪群像<br>《大部分回忆》</h1><br>
                <h5 class="posts-subtitle">婧妹们的感情，谁看完不说一声绝了？</h5>
                <a class="posts-title-link highlighted" style="float:right;" 
                href="https://www.bilibili.com/video/BV1jC4y1p7C6/?share_source=copy_web&vd_source=e133a865f41028b9a706a1890a2a76e0" target="_blank">
                去Bilibili观看 >></a>
            </div>
            <div class="col-md-8">
                <div style="padding: 0.5rem 0 0.5rem 0;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.bilibili.com/player.html?aid=795799424&bvid=BV1jC4y1p7C6&cid=193524950&page=1&as_wide=1&high_quality=1&autoplay=no" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="blogcard row" style="min-height:380px">
            <div class="col-md-8">
                <p class="posts-discription">
                    本校所有动物均不会说话。不要相信任何和您搭讪的动物。<br>
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="posts-title">【规则类怪谈】欢迎来到中文大学</h1>
                <a class="posts-title-link highlighted" style="float:right;" href="https://mp.weixin.qq.com/s?__biz=Mzg5ODQxOTk2NQ==&mid=2247483702&idx=1&sn=aa093e1a26e86c7d574d4ddaab04519c&chksm=c0639ca4f71415b28f738349da36110c35073aefd27aedcfee2297ceb4b719ac8e35424d6c85#rd" target="_blank">阅读全文 >></a>
            </div>
        </div>

        <div class="blogcard row">
            <div class="col-md-4">
                <h1 class="posts-title">魔发奇缘混剪<br>乐佩&尤金<br>Love Story </h1><br>
                <h5 class="posts-subtitle">这绝对是全迪士尼最甜的一对！</h5>
                <a class="posts-title-link highlighted" style="float:right;" 
                href="https://www.bilibili.com/video/BV1L7411h745/?share_source=copy_web&vd_source=e133a865f41028b9a706a1890a2a76e0" target="_blank">
                去Bilibili观看 >></a>
            </div>
            <div class="col-md-8">
                <div style="padding: 0.5rem 0 0.5rem 0;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.bilibili.com/player.html?aid=87096853&bvid=BV1L7411h745&cid=148829378&page=1&as_wide=1&high_quality=1&autoplay=no" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="blogcard row">
            <div class="col-md-8">
                <div style="padding: 0.5rem 0 0.5rem 0;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.bilibili.com/player.html?aid=514873354&bvid=BV1Kg411D7zH&cid=811596904&page=1&as_wide=1&high_quality=1&autoplay=no" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 class="posts-title">IVE&Cardi B 联名复仇新曲「After WAP」</h1><br>
                <h5 class="posts-subtitle">「这一次，我要夺回属于我的一位。」</h5>
                <a class="posts-title-link highlighted" style="float:right;" 
                href="https://www.bilibili.com/video/BV1Kg411D7zH/?share_source=copy_web&vd_source=e133a865f41028b9a706a1890a2a76e0" target="_blank">
                去Bilibili观看 >></a>
            </div>
        </div>
        
        <section class="hero-area" style="position:relative;">
                <h1 class="head-text flow">GAME CORNER</h1>             
        </section>
    </div>

    <div>
        <h5 class="subtitle-text"> Choose a game to play!</h5>
        <!-- <p class="subtitle-text"> PS: You need to have a screen wider than 1200px (a computer) to play Pac Man!</p> -->
        <div class="project-toolbar">
            <div class="multi-button">
              <button href="javascript:;" class="category-btn" style="margin: 0.5em;" data-category="game-ami"><i class="fa fa-lightbulb-o"></i>赛博木鱼</button>
              <button href="javascript:;" class="category-btn active" style="margin: 0.5em;" data-category="game-2048"><i class="fa fa-pencil"></i> 2048</button>
            </div>
        </div>
    </div>
    <!-- <div id="game-pacman" style="display:none;">{% include pacman.html %}</div> -->
    <div id="game-2048" style="display:block;">{% include 2048-master/index.html %}</div>
    <div id="game-ami" style="display:block;display:none;">{% include amitabha.html %}</div>

<div class="post-list" style="margin-top:3rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <div class="blogcard row" style="color:white; border-style:none; border-bottom: none;">
        <div class="col-md-4" style="text-align:center;display:block;">
            <h3>About</h3>
                <p class="footer-link"  style="font-size:1.2rem; line-height:2;" >
                    <a href="https://www.marcoliu.com" target="_blank">About Me</a><br>
                    <a href="https://www.marcoliu.com/playground/blog/404.html" target="_blank">About this website</a><br>
                    <a href="https://www.marcoliu.com/contact" target="_blank">Contact</a><br>
                    <a href="https://www.marcoliu.com/playground/blog/404.html" target="_blank">Website Log</a><br>
                </p>
        </div>
        <div class="col-md-4" style="text-align:center;display:block;">
            <h3>Links</h3>
            <p class="footer-link" style="font-size:1.2rem; line-height:2;">
                <a href="https://www.marcoliu.com" target="_blank">主站</a><br>
                <a href="https://www.marcoliu.com/playground/home.html" target="_blank">Playground 入口</a><br>
                <a href="https://github.com/gabrielecirulli/2048" target="_blank">2048 Game</a>
            </p>
        </div>
        <div class="col-md-4" style="text-align:center;display:block;">
            <h3>Platforms</h3>
            <div class="footer-link"  style="font-size:1.2rem; line-height:2;">
                <a href="https://www.linkedin.com/in/haoyu-marco-liu" target="_blank">LinkedIn</a><br>
                <a href="https://github.com/MarcoLIU27" target="_blank">GitHub</a><br>
                <a href="https://space.bilibili.com/7189540/" target="_blank">Bilibili</a><br>
                <a href="/assets/img/posts/wechat-qrcode.png" target="_blank">微信公众号</a><br>
                <a href="https://www.marcoliu.com" target="_blank">小红书</a><br>
                <a href="https://instagram.com/{{ site.instagram }}" target="_blank">Instagram</a><br>
                <a href="https://www.facebook.com/marcoliu27" target="_blank">Facebook</a><br>
            </div>
        </div>
    </div>
</div>

    
</body>

<script>
    const links = document.querySelectorAll(".nav-item-blog a");

    links.forEach(link => {
        link.addEventListener("mouseover", () => {
            link.style.color = "#fda403";
            link.style.textDecoration = "none";
        });

        link.addEventListener("mouseout", () => {
            link.style.color = "#fff";
            link.style.textDecoration = "none";
        });
    });

    $(".category-btn").on("click", function () {
            var $this = $(this);
            console.log( $this.text() );
            if ( !$this.hasClass("active") ) {
                $(".category-btn").removeClass("active");
                $this.addClass("active");
                var $filter = $this.data("category"); 
                if ($filter === 'game-ami') {
                    $('#game-ami').css('display', 'block');
                    $('#game-2048').css('display', 'none');
                } else if ($filter === 'game-2048') {
                    $('#game-2048').css('display', 'block');
                    $('#game-ami').css('display', 'none');
                }
            }
        });
</script>