---
layout: page
permalink: /projects.html
title: Course Projects
header-img: 
last-updated: 2020-10-30 5:55 PM
---
{% assign theme = site.data.themes[site.ui_theme] %}
<div class="blogcard card-2 mb-4" style="width: 100%;">
  <div class="card-body">
    <div class="card-title text-center page-title">{{ page.title }}</div>
  </div>
</div>

{% for projects in site.data.projects %}
<div class="blogcard mb-4 blogcard-small-screen" style="width: 100%;">
  <div class="card-body">
    <div class="media mt-2">
        <!--<a href="{{ projects.link }}"><img src="{{ projects.image }}" class="mr-3 mb-2 img-thumbnail border-0" alt="..."></a>-->
        <div class="media-body">
          <h5 class="mt-0"><span class="entry-title">{{ projects.name }}</span></h5>
          <h6 class="mt-0">{{ projects.nature }} | {{ projects.time }}</h6>
          <ul>
            {% for description in projects.description %}
            <li>{{ description }}</li>
            {% endfor %}
          </ul>
          {% if projects.tech %}
            <h6>Technologies</h6>
            {% for tech in projects.tech %}
            <span class="badge badge-secondary mr-1" style="background-color:{{ theme.projects-color }};">{{ tech }}</span>
            {% endfor %}
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% endfor %}

